In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from subprocess import check_output
import sys
import csv
#####
folderAddress = "input"
#####

info = pd.read_csv(folderAddress + "/sku_info.csv")

# # info 1000 rows x 5 columns id:0-999
attr = pd.read_csv(folderAddress + "/sku_attr.csv")
# # attr  6776 rows x 3 columns
sales = pd.read_csv(folderAddress + "/sku_sales.csv")
# # sales 2127485 rows x 7 columns
prom = pd.read_csv(folderAddress + "/sku_prom.csv")

In [2]:
sales.iloc[:5]

,item_sku_id,dc_id,date,quantity,vendibility,original_price,discount
0,637,0,2016-10-12,5.0,1.0,0.089886,7.858136
1,637,0,2017-09-24,1.0,1.0,0.089886,8.191933
2,637,3,2016-07-01,0.0,1.0,NaN,NaN
3,637,3,2016-08-03,2.0,1.0,0.089886,8.122392
4,637,3,2017-05-03,4.0,1.0,0.089886,8.136300

In [3]:
def loadCsv(address):
    with open(address) as csvDataFile:
        info=[]
        csvReader = csv.reader(csvDataFile)
        for row in csvReader:
            info.append(row)
    return info[1:]

In [4]:
def deleteCol(a,num):
    for row in a :
        del row[num]
    return a

In [5]:
id_brand_cat_map = {}
thirdcat_id_map ={}
info=[]
attr=[]
sales=[]
prom=[]
info = loadCsv(folderAddress + "/sku_info.csv")
#delete first and second catagory


attr = loadCsv(folderAddress + "/sku_attr.csv")
sales =  loadCsv(folderAddress + "/sku_sales.csv")
prom = loadCsv(folderAddress + "/sku_prom.csv")

In [6]:
for i in sales:
    for k in info:
        if i[0] == k[0]:
            i.append(k[2])
            break

In [7]:
def reformatdate(a):
    temp = ''
    for i in a:
        if i=='-':
            i='/'
        temp = temp+i
    return temp

['3', '7', '29', '144', '1040']

In [ ]:
for i in sales:
    for k in prom:
        if k[]